@model IEnumerable<MD.GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<ul class="gigs">
    @foreach(var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    <span>
                        @gig.DateTime.ToString("MMM")
                    </span>
                    </div>
                <div class="day">
                    <span>
                        @gig.DateTime.ToString("dd")
                     </span>
                </div>
            </div>
            <div class="details">
                <span>
                    @gig.Artist.Name
                </span>
                <span>
                    @gig.Genre.Name
                </span>
            </div>
        </li>
    }
</ul>
